/* подключаем шрифт Open Sans normal */
@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* подключаем шрифт Open Sans bold */
@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/Open_Sans/OpenSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
