/* подключаем шрифт Raleway normal */
@font-face {
    font-family: "Raleway";
    src: url("../../fonts/Raleway/Raleway-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* подключаем шрифт Raleway bold */
@font-face {
    font-family: "Raleway";
    src: url("../../fonts/Raleway/Raleway-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
