* {
    margin: 0;
    padding: 0;
    font-weight: inherit; /* заставляет дочерний тег наследовать толщину шрифта от родительского тега */
}

:root { /* то же самое что и селектор по тегу html, но имеет более высокий приоритет, чем сам тег html */
    font-family: "Raleway", serif;
    font-size: 18px;
}

.container {
    max-width: 1170px;
    margin: 0 auto; /* выравнивание блочного тега по центру родительского тега */
    padding: 0 16px;
}

.container__title {
    margin-bottom: 40px;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    line-height: 42px;
}

.container__horizontalSeparator {
    width: 170px;
    margin: 0 auto 40px;
    border-bottom: 1px solid #EC7979;
}

.container__subtitle {
    text-align: center;
    line-height: 21px;
    color: #86878B;
}


.awesome {
    padding-top: 118px;
    padding-bottom: 110px;
}

.awesome__cardList {
    display: flex; /* делает элемент контейнером Flexbox */
    gap: 27px;  /* указывает разрыв между дочерними элементами контейнера */
    flex-wrap: wrap; /* разрешает элементу переходить на новую строку при нехватке места в контейнере */
    justify-content: center;
    margin-top: 92px;
}

.awesome__card {
    flex-basis: 288px; /* задает начальную ширину элементу в контейнере */
    flex-grow: 1; /* какая доля свободного места в контейнере достанется элементу */
}

.awesome__cardIcon {
    display: flex;
    justify-content: center; /* выравнивание по оси x внутри контейнера*/
    align-items: center; /* выравнивание по оси y внутри строки */
    width: 92px;
    height: 92px;
    margin: 0 auto;
    border: 1px solid #EC7979;
    border-radius: 50%;
}

.awesome__cardTitle {
    margin-top: 24px;
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
}

.awesome__cardDescription {
    margin-top: 26px;
    line-height: 21px;
    text-align: center;
}

.pricing {
    padding-top: 82px;
    padding-bottom: 83px;
    background-color: #f5f5f5;
}

.pricing__servicePlanList {
    display: flex;
    gap: 30px;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 59px;
}

.pricing__servicePlan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 288px;
    flex-grow: 1;
    max-width: 370px;
}

.pricing__servicePlanSelected {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 10px 0 #33333333; 
}

.pricing__servicePlan > * { /* выбирает все дочерние элементы внутри тега с классом servicePlan */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f5f5f5;
    box-sizing: border-box;
}

.pricing__servicePlan > :not(:first-child) { /* выбирает все дочерние элементы внутри тега с классом servicePlan, кроме первого */
    border-top: none;
}

.pricing__servicePlan > :nth-child(-n+3) { /* выбирает любые первые три дочерних элемента внутри тега с классом servicePlan */
    background-color: #333;
}

.pricing__servicePlanTitle {
    height: 60px;
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}

.pricing__servicePlanPrice {
    height: 100px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.pricing__servicePlanTitle, .pricing__servicePlanPrice {
    color: #fff;
}

.pricing__servicePlanSubtitle {
    height: 50px;
    line-height: 21px;
}

.pricing__servicePlanItem {
    background-color: #fff;
    height: 50px;
    line-height: 21px;
}

.pricing__servicePlanSubtitle, .pricing__servicePlanItem {
    color: #86878B;
}

@media (max-width: 1170px) { /* применяет стили, если ширина экрана меньше или равна 1170px */
    .pricing__servicePlanList {
        gap: 20px;
    }
}

@media (max-width: 949px) {
    .pricing__servicePlanList {
        gap: 27px;
    }

    .pricing__servicePlanSelected {
        margin-bottom: 0;
        box-shadow: none; 
    }
}
