/* подключаем шрифты */
@import url("fonts/raleway.css");
@import url("fonts/openSans.css");

/* подключаем стили */
@import url("awesome.css");
@import url("pricing.css");

* {
    margin: 0;
    padding: 0;
    font-weight: inherit; /* заставляет дочерний тег наследовать толщину шрифта от родительского тега */
}

:root { /* то же самое что и селектор по тегу html, но имеет более высокий приоритет, чем сам тег html */
    font-family: "Raleway", serif;
    font-size: 18px;
}

.container {
    max-width: 1170px;
    margin: 0 auto; /* выравнивание блочного тега по центру родительского тега */
    padding: 0 16px;
}

.container__title {
    margin-bottom: 40px;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    line-height: 42px;
}

.container__horizontalSeparator {
    width: 170px;
    margin: 0 auto 40px;
    border-bottom: 1px solid #EC7979;
}

.container__subtitle {
    text-align: center;
    line-height: 21px;
    color: #86878B;
}
